body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

/* Header */
.header {}

.header__nav__wp {
    border-bottom: 2px solid #e5eaee;
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

.nav__items,
.nav__items-link {
    font-size: 15px;
    color: #95a1b4;
    margin-right: 10px;
    text-decoration: none;
}

.nav__items:hover,
.nav__items-link:hover {
    color: #7b8390;
}

/* Search */
.nav__search {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0 12px;
    height: 40px;
    border: 2px solid #c3c6cc;
    border-radius: 50px;
    background-color: #fff;
    color: #6c7a89;
}

.nav__search-icon {
    margin-right: 8px;
    font-size: 16px;
    color: #a0a4ab;
}

.nav__search-items {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: #333;
    width: 200px;
}

.nav__search-items::placeholder {
    color: #a0a4ab;
}

.nav__search:has(.nav__search-items:focus) {
    border: 1px solid rgb(78, 69, 247);
    box-shadow: 2px 2px 10px rgb(136, 129, 255);
}

/* Login */
.nav__login {
    width: 50px;
    height: 50px;
    display: flex;
    padding: 25px 100px 0 0;
    font-size: 15px;
    justify-content: center;
}

.nav__login-txt {
    color: #a5aeb4;
    text-decoration: none;
}

.nav__login-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    color: #a5aeb4;
}

/* App Wrapper */
.app {
    margin-bottom: 100px;
    background-color: #fafbfd;
}

/* Mua vé theo phim */
.app__movies {
    border-bottom: 2px solid #a5aeb4;
    padding-bottom: 100px;
}

.app__movies-wp {
    margin: 0 250px;
    display: flex;
    justify-content: center;
}

.app__movies-items {
    width: 110px;
    border: 1px solid #a5aeb4;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.app__movies-items-img {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.app__movies-title {
    text-align: center;
    padding: 30px;
}

.app__movies-items-btn {
    width: 100%;
    height: 20px;
    background-color: #d31602;
    color: white;
    border: none;
    cursor: pointer;
}

.app__movies-items-title,
.app__movies-items-title-link {
    display: block;
    padding-left: 2px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/* Mua vé theo rạp */
.app__cinema-wp {
    margin-left: 200px;
    display: flex;
}

/* Location & Cinema Common Style */
.app__cinema-location,
.app__cinema-item {
    background-color: #edf2f8;
    width: 250px;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px 1px 5px #a7b1c2;
    margin-right: 50px;
}

.app__cinema-location-title,
.app__cinema-item-title {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    color: #a7b1c2;
}

.app__cinema-location-list-wp,
.app__cinema-item-list-wp {
    width: 100%;
    height: 550px;
    background-color: white;
}

.app__cinema-location-list,
.app__cinema-item-list {
    padding: 0;
    margin: 0;
}

.app__cinema-location-list-items,
.app__cinema-item-list-items {
    list-style: none;
    font-size: 15px;
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid #a7b1c2;
    font-weight: bold;
    color: #a7b1c2;
    background-color: white;
}


.app__cinema-location-list-items:hover,
.app__cinema-item-list-items:hover {
    background-color: #2c7be4;
    color: white;
}

/* Calendar */
.app__calender-date,
.app__calender-note,
.app__calender-title {
    width: 600px;
    background-color: #edf2f8;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #a7b1c2;
}

.app__calender-date {
    height: 60px;
}

.app__calender-date-wp {
    display: flex;
    height: 60px;
    border-radius: 10px;
}

.app__calender-date-items {
    width: 25%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b5c0ce;
}

.app__calender-date-items:first-child {
    border-radius: 10px 0 0 10px;
}

.app__calender-date-items:last-child {
    border-radius: 0 10px 10px 0;
}

.app__calender-date-items:hover {
    background-color: #c7d6ed;
}

/* Note */
.app__calender-note {
    height: 50px;
    background-color: #f6c343;
    border-radius: 5px;
}

.app__calender-note-wp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__calender-note-icon {
    font-size: 20px;
    margin-right: 10px;
}

.app__calender-note-dec {
    font-size: 15px;
}

/* Title */
.app__calender-title {
    height: 80px;
}

.app__calender-title-wp {
    padding: 20px;
}

.app__calender-title-item1 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.app__calender-title-items {
    font-size: 13px;
}

.app__calender-title-date-date {
    font-size: 15px;
    color: #acb3c4;
}

/* Calendar Item */
.app__calender-item {
    width: 600px;
    height: auto;
    margin-top: 10px;
}
.app__calender-item-wp{
    display: flex;
    box-shadow: 1px 1px 5px #a7b1c2;
    padding-bottom: 30px;
}
.app__calender-items-wp {
    padding-left: 50px;
    
}

.app__calender-item-img-wp {
    padding-left: 20px;
    padding-top: 20px;
}

.app__calender-item-img {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

.app__calender-items-title {
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;

}
.app__calender-items-dec{
    padding-top: 10px;
    color: #c1cad5;
}
.app__calender-items-time-wp {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.app__calender-items-time {
    width: 50px;
    height: 30px;
    background-color: #edf2f8;
    
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px 1px 5px #a7b1c2;
}

.app__calender-items-time:hover {
    background-color: #2c7be4;
    color: white;
}

/* Utility */
.flex {
    display: flex;
}

/* Footer */
.footer__wp {
    width: 100%;
    height: 300px;
    background-color: black;
}
/* Hành Động */
.app__cinema-item,
.app__calender {
    display: none;
}
.app__cinema-location-list-items.active {
    background-color: #2c7be4;
    color: white;
}
/* Rạp được chọn */
.app__cinema-item-list-items.active {
    background-color: #2c7be4;
    color: white;
}